
<h4 style="font-weight: 600"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">RLHF</a></h4>
Sample efficiency in online RLHF is a crucial topic. While most previous works focus strategic exploration for sample-efficient learning, we tackle from a different perspective---transfer learning.
<div class="publications">
  {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true, category=RLHF]* %}
</div>
<h4 style="font-weight: 600"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">MARL and Game Theory</a></h4>
<div class="publications">
  {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true, category=MARL]* %}
</div>
<h4 style="font-weight: 600"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Others</a></h4>
<div class="publications">
  {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true, category=OnlineRL]* %}
</div>
